<div class="d-flex flex-column justify-content-center align-items-center h-100 w-100">
    <h2 class="text-xl-center">Sorry, there's nothing at this address.</h2>
    <img class="d-block" src="/img/invalid-address.png" width="300"/>
</div>
